ul {
  padding: 0;
}

.one-forth,
.one-sixth,
.one-half,
.one-third {
  display: inline-block;
  float: left;
  outline: 1px solid grey;
  vertical-align: top;
  text-align: center;
}

.row::after {
  clear: both;
  content: "";
  display: block;
  line-height: 0;
}

.one-forth {
  width: 25%;
}
.one-sixth {
  width: 16.6667%;
}
.one-half {
  width: 50%;
}
.one-third {
  width: 33.33333%;
}