html {
  font-size: 16px;
}

body, article, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0.5rem;
}

main {
  /*clear: both;*/
  overflow: hidden;
  padding-bottom: 1.5rem;
}

.content,
.sidebar {
  box-sizing: border-box;
  /*float: left;*/
  padding: 20px 30px;
}

.content {
  float: left;
  background-color: pink;
  width: 70%;
}

.sidebar {
  overflow: auto;
  background-color: cyan;
  /*width: 30%;*/
}

